.mam-out {
    background-color: darkblue;
}

marquee {
    background-image: linear-gradient(rgb(75, 55, 73), rgb(17, 78, 218));
    background-color: rgb(16, 128, 50);
    color: rgb(4, 3, 59);
    text-shadow: rgb(48, 48, 20) 2px 2px rgb(35, 35, 50);
    text-transform: inherit;
    border-radius: 1%;
    font-size: 30px;
    border-color: rgb(146, 69, 69);
}

#blink {
    animation: blinker 0.6s linear infinite;
    background-image: linear-gradient(rgb(109, 4, 4), rgb(11, 3, 22));
    color: #6b0606;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}